.select-editable {
    position:relative;
    background-color:white;
    width:300px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
}
.select-editable select {
    position:absolute;
    top:0px;
    left:0px;
    width:300px;
    height:46px;
    margin:0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.select-editable input {
    position:absolute;
    top:0px;
    left:0px;
    width:280px;
    padding:1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.select-editable select:focus, .select-editable input:focus {
    outline:none;
}