<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/resume.css">
    <title>Join | ChatApp</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarToggler">
                <a class="navbar-brand" href="/">StrayEngineer</a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/view/resume.html">Resume</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main role="main">
        
        <div class="works py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <h1>RESUME</h1>
                        <hr>

                        <div class="resume-content">
                            <h3>EDUCATION</h3>
                            <p>
                                <b>National Chiao Tung University, Hsinchu, Taiwan</b><br>
                                <b>2002/09 ~ 2004/06</b><br>
                                M.S. in Computer Science and Information Engineering<br>
                                Thesis: Optimization of Address Assignment in DSP Code Generation
                            </p>
                            <p>
                                <b>National Chiao Tung University, Hsinchu, Taiwan</b><br>
                                <b>1998/09 ~ 2002/06</b><br>
                                M.S. in Computer Science and Information Engineering
                            </p>
                        </div>
                        
                        <hr>
                        <div class="resume-content">
                            <h3>PROJECT</h3>
                            <p>
                                <b>Web Design</b><br>
                                <b>2018/01 ~ Present</b><br>
                            </p>
                            <p>
                                <b>Python</b><br>
                                <b>2018/01 ~ Present</b><br>
                            </p>
                            <p>
                                <b>LeetCode</b><br>
                                <b>2017/09 ~ Present</b><br>
                            </p>
                        </div>

                        <hr>
                        <div class="resume-content">
                            <h3>EXPERIENCE</h3>
                            <p>
                                <b>NVIDIA, Senior CAD Engineer</b><br>
                                <b>2015/07 ~ 2017/09</b><br>
                                <ul>
                                    <li>Simulation assertion system – Using VPI to design a system to communicate with VCS simulator that user could add assertion condition to monitor events during simulation.</li>
                                    <li>Debug message system – Control message display and redirection to separate channels base on debug level setting.</li>
                                    <li>Daemon tool – Design an Internet domain socket server to accept multi-connection. Tool will execute received commands to invoke a sequence operation.</li>
                                    <li>Socket Log Parser – Adopted lex/yacc to create a parser to evaluate and analyze test pattern data sent to tester.</li>
                                    <li>Miscellaneous – Auto version update tool, demangle C++ symbols tool, refactored legacy code and regression system maintenance.</li>
                                </ul>
                            </p>
                            <p>
                                <b>Cadence, Senior Software Engineer</b><br>
                                <b>2011/08 ~ 2014/07</b><br>
                                <ul>
                                    <li>Designed object lookup engine, which was wide used in CLP/GUI project</li>
                                    <li>Developed CLP function based on PE (Product Engineer) requirement</li>
                                    <li>Build and enhanced dozens of rule check related to macro attributes</li>
                                    <li>Resolved more than 120 customer issues</li>
                                    <li>Refactored legacy code</li>
                                </ul>
                            </p>
                            <p>
                                <b>LARGAN, Software Engineer</b><br>
                                <b>2010/06 ~ 2010/10</b>
                                <ul>
                                    <li>Responsible for software analysis、design and programming</li>
                                    <li>Software testing and modification</li>
                                    <li>Executed and maintained the quality of mass product</li>
                                </ul>
                            </p>
                            <p>
                                <b>ELAN, Supervisor</b><br>
                                <b>2005/01 ~ 2009/09</b><br>
                                <ul>
                                    <li>Designed 8/16 bit MCU based on product specification</li>
                                    <li>Planned micro-controller product and developed new application function</li>
                                    <li>Improved low power、low voltage and chip size of digital circuit</li>
                                    <li>Responsible for circuit synthesis and analysis</li>
                                    <li>IC verification after wafer out</li>
                                    <li>Instructed new-coming engineers</li>
                                </ul>
                            </p>
                        </div>
                        
                        <hr>
                        <div class="resume-content">
                            <h3>SKILLS</h3>
                            <ul>
                                <li>Programming Language: C/C++, Python</li>
                                <li>Web: Javascript, Node.js, Bootstrap, PHP, HTML, CSS</li>
                                <li>Database: Mongodb, MySQL</li>
                                <li>Tools: GCC, GDB, Git, Perforce</li>
                                <li>Hardware: Digital circuit design, Verilog, CPF, CLP</li>
                                <li>Miscelaneous: Makefile, Lex, Yacc</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </div>
      
    </main>

    <footer class="text-muted">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <p>Contact</p>
                    <a href="mailto:kunchi68@gmail.com">kunchi68@gmail.com</a>
                </div>
                <div class="col-md-4">
                    <p>&copy; 2018 by Quincy Liu</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>