<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/intro.css">
    <link rel="stylesheet" href="../css/signin.css">
    <title>TODO App</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarToggler">
                <a class="navbar-brand" href="/">StrayEngineer</a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li>
                        <a class="nav-link" id="link_register" href="#">Sign up</a>
                    </li>
                    <li>
                        <a class="nav-link" style='display:none' id="link_login" href="#">Sign in</a>
                    </li>
                    <li>
                        <a class="nav-link" style='display:none' id="link_logout" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading"><a data-toggle="collapse" href="#Introduction"  aria-expanded="true" aria-controls="Introduction">Todo App</a></h1>
                <div class="collapse show" id="Introduction">
                    <p class="lead text-muted">This is a node.js project from 'The Complete Node.js Developer Course (2nd Edition)' in udemy that demonstrates the usage of JWT and mongodb. User could create, read, update and delete todo itme(s). Please register an account before sign in.</p>
                </div>
            </div>
        </section>

        <div class="works py-5 bg-light">
            <div class="container">
                <div class="row" id="div_main"></div>
                <div class"row" id="div_content"></div>
            </div>
        </div>
    </main>
    
    <footer class="text-muted">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <p>Contact</p>
                    <a href="mailto:kunchi68@gmail.com">kunchi68@gmail.com</a>
                </div>
                <div class="col-md-4">
                    <p>&copy; 2018 by Quincy Liu</p>
                </div>
            </div>
        </div>
    </footer>

    <script id="todo-item-template" type="text/template">
        <tr>
            <td style='display:none'>{{id}}</td>
            <td>{{text}}</td>
            <td><input type='checkbox' {{completed}}></td>
            <td>{{completedAt}}</td>
            <td>
                <a id="todo_update" href='#'>Update</a>
                <a id="todo_delete" href='#'>Delete</a>
            </td>
        </tr>
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="../js/libs/moment.js"></script>
    <script src="../js/libs/mustache.js"></script>
    <script src="../js/todo_main.js"></script>

</body>

</html>